body {
    font-family: Arial;
}

header {
    text-align: left;
}

footer {
    text-align: right;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}