* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 25px;
}

body {
    margin: 0;
    background-color: #ffffff;
}

h1 {
    font-size: 50px;
}

h4 {
    filter: invert(50%);
    font-size: 35px;
    font-style: italic;
}

.socials {
    background-color: #1e1e1e;
    height: 68px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.socials img {
    border-radius: 20%;
    filter: invert(100%);
    height: 60px;
    margin-top: 4px;
    padding: 5px;
    width: 60px;
}

.socials img:hover {
    box-shadow: 0 0 2px 2px rgba(30, 30, 30, 0.5);
}

.socials a:last-child {
    margin-left: 1%;
    margin-right: auto;
}

.socials a:first-child {
    margin-right: 1%;
}

.header {
    background-color: #1e1e1e;
    color: #f2f2f2;
    margin-top: 60px;
    padding: 15px;
    text-align: center;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: hidden;
    background-color: #1e1e1e;
}

.link {
    margin: 10px;
    font-size: 30px;
}

.navigation a {
    color: #f2f2f2;
    flex: 1 60px;
    display: block;
    text-align: center;
    text-decoration: none;
}

.navigation a:hover {
    filter: invert(50%);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content h1 {
    margin-left: 15%;
    padding: 1% 5%;
    width: 50%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row:last-child {
    padding-bottom: 3%;
}

.box {
    border: 1px #1e1e1e;
    padding: 1% 5%;
    width: 33.33%;
}

.box img {
    width: 100%;
}

#ALPHA28 {
    transform: rotate(90deg)
}

.column {
    background-color: #f2f2f2;
    color: #1e1e1e;
    padding: 1% 5%;
    width: 33.33%;
}

.doc {
    background-color: #f2f2f2;
    color: #1e1e1e;
    height: 100%;
    padding: 1% 5%;
    width: 100%;
}

.doc a {
    color: #2b2eff;
    font-size: 15px;
    text-decoration: none;
}

.doc h4 {
    font-size: 15px;
}

.footer {
    background-color: #1e1e1e;
    height: 38px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    * {
        font-size: 45px;
    }

    h1 {
        font-size: 80px;
    }

    h4 {
        font-size: 50px;
        font-style: italic;
    }

    .socials {
        height: 108px;
    }

    .socials img {
        border-radius: 20%;
        height: 100px;
        width: 100px;
    }

    .header {
        margin-top: 100px;
    }

    .doc h4 {
        font-size: 20px;
    }

    .doc a {
        font-size: 30px;
    }

    .link:hover {
        box-shadow: 0 0 2px 2px rgba(210, 210, 210, 0.5);
    }

    .link a {
        font-size: 40px;
    }

    .content {
        flex-direction: column;
    }

    .row {
        flex-direction: column;
    }

    .box {
        width: 100%;
    }

    .column {
        width: 100%;
    }
}
