
.container {
    text-align: left;
    animation: fadeEffect 3s;
}

.shortAbout {
    text-align: center
}

.content {
    animation: fadeEffect 3s;
    display: none;
    padding: 30px;
    border: 1px solid #ccc;
}

.container #About {
    display: block;
}